
    .header
    {
        .container
        {
            position: relative;
            height: 90px;

            .logo
            {
                position: absolute;
                left: 2px;
                top: 10px;

                font-size: 52px;
                color: #428bca;
            }
            .phone
            {
                position: absolute;
                right: 2px;
                top: 40px;

                font-size: 22px;
                color: #333;
            }
        }
    }
